body {
    background-image: url("https://static.pexels.com/photos/9574/pexels-photo.jpeg");
    background-size: 100vw 100vh;

}
h1{
  color: white;
}

.whiteContainer{
  margin: auto;
  width: 80%;
  background-color:white;
  padding: 10px;
  overflow:overlay;
  border-radius: 15px;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
    overflow:overlay;
    border-radius: 15px;
}

.navbar-brand{
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}
nav {
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    /*background-color:  rgba(0,0,0,0.3);*/
}

#navItem{
  font-size: 22px;
  color: white;
}

.navContainer{
  border-radius: 10px;
  margin: 5vw;
}