body {
    background-image: url("https://static.pexels.com/photos/9574/pexels-photo.jpeg");
    background-size: 100vw 100vh;

}



.whiteContainer{
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color:white;
  padding: 50px;
  overflow:overlay;
  border-radius: 15px;
}

.hoverme:hover
{
background-color:#E2E2E2;
}
.clicked
{
background-color:green;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    overflow:overlay;
    border-radius: 15px;
}

.whiteBorder {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
    overflow:overlay;
    border-radius: 15px;
}

.navbar-brand{
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}
nav {
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    /*background-color:  rgba(0,0,0,0.3);*/
}

#navItem{
  font-size: 22px;
  color: white;
}

.navContainer{
  border-radius: 10px;
  margin: 5vw;
}


/*trying these styles*/

/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete{
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
